/Complement.class
/ConjunctionAssociativity.class
/DeMorganConjunction.class
/DeMorganDisjunction.class
/DisjunctionAssociativity.class
/FNC.class
/FNCTransformator.class
/FND.class
/FNDTransformator.class
/NormalForm.class
/NormalFormTransformationProof.class
/NormalFormTransformationRule.class
/NormalFormTransformator.class
/RemoveDoubleImplication.class
/RemoveDoubleNegation.class
/RemoveImplication.class
/ReplaceLeftConjunction.class
/ReplaceLeftDisjunction.class
/ReplaceRightConjunction.class
/ReplaceRightDisjunction.class
