/ExistentialCuantifierConjunction.class
/ExistentialCuantifierDisjunction.class
/ExistentialCuantifierNegated.class
/NormalFormTransformationRuleFOL.class
/PrenexNormalForm.class
/PrenexTransformationProof.class
/PrenexTransformator.class
/RenameVariable.class
/UniversalCuantifierConjunction.class
/UniversalCuantifierDisjunction.class
/UniversalCuantifierNegated.class
