/CreateBottomFOL.class
/CreateConjunctionFOL.class
/CreateDisjunction1FOL.class
/CreateDisjunction2FOL.class
/CreateExistentialCuantifier.class
/CreateImplicationFOL.class
/CreateNegationFromBottomFOL.class
/CreateProvenFromBottomFOL.class
/CreateUniversalCuantifier.class
/DeductiveSystemFOL.class
/ExtensionFOL.class
/ExtractFromConjunction1FOL.class
/ExtractFromConjunction2FOL.class
/ExtractFromImplicationFOL.class
/HypothesisFOL.class
/InferenceRuleFOL.class
/ProofCheckerFOL.class
/ProofReaderFOL.class
/RemoveDisjunctionFOL.class
/RemoveDoubleNegationFOL.class
/RemoveExistentialCuantifier.class
/RemoveUniversalCuantifier.class
/RuleExplanationFOL.class
/SequenceFOL.class
