/GoalReached.class
/InvalidClause.class
/InvalidInferenceRuleApplication.class
/InvalidLiteral.class
/InvalidProof.class
/InvalidPropositionalLogicFormula.class
/InvalidRuleName.class
/InvalidSubstitution.class
