/ClauseAndExplanationFOL.class
/ClauseFOL.class
/ClauseSizeComparatorFOL.class
/LiteralFOL.class
/LiteralPair.class
/ResolutionClauseFOL.class
/ResolutionFOL.class
/ResolutionProofCheckFOL.class
/ResolutionProofFOL.class
